<div class="form-group">
  <label>Name</label>
  <input type="text" class="form-control" name="name" value="<%= team.name %>">
</div>

<div class="form-group">
  <label>Programming experience</label>
  <select name="programming_experience">
    <option value="">Select programming experience</option>
    <% for (var key in programming_experiences) { %>
      <option value="<%= key %>" <% if(team.programming_experience == key){ %>selected<% } %>><%= programming_experiences[key] %></option>
    <% } %>
  </select>
</div>

<div class="form-group">
  <label>language</label>
  <select name="languages">
    <option value="">Select language</option>
    <% languages.forEach(language => { %>
      <option value="<%= language%>" <% if(team.languages == language){ %>selected<% } %>><%= language %></option>
    <% }) %>
  </select>
</div>
