<h1>Teams</h1>

<ol>
 <% teams.forEach(function(team) { %>
  <li>
    <% if (team.repo_url)  { %>
    <a href="<%= team.repo_url %>"><%= team.name %></a>
    <% } else { %>
    <%= team.name %>
    <% } %>

    (<%= team.languages %> - <%= team.programming_experience %>)
    <ol>
      <% team.users.forEach(function(user) { %>
        <li>
          <a href='/users/<%= user.id %>' ><%= user.name %></a>
          <% if(user.pending) { %> (pending) <% } %>
        </li>
      <% }) %>
    </ol>
  </li>
<% }) %>
</ol>
