<%- include partials/alerts %>

<h1><%= user.name %></h1>

<dl>
  <dt>Github</dt>
  <dd><%= user.github_username %></dd>

  <dt>Slack</dt>
  <dd><%= user.slack_username %></dd>

  <dt>Programming Experience</dt>
  <dd class="prewrap"><%= user.programming_experience %></dd>

  <dt>Languages</dt>
  <dd class="prewrap"><%= user.languages %></dd>

  <dt>Location</dt>
  <dd><%= user.location %></dd>

  <dt>Goals</dt>
  <dd class="prewrap"><%= user.goals %></dd>

  <dt>I'm willing to mentor on these topics:</dt>
  <dd class="prewrap"><%= user.mentor_topics %></dd>
</dl>

<% if (currentUser.id == user.id) { %>
  <a class="btn btn-primary btn-sm" href="/users/<%= currentUser.id %>/edit">Edit Profile</a>
<% } %>
